### Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
- The Moscow Times — Wednesday, October 2, 2002
- The Guardian — Friday, 11.10.13
- Daily News — Thursday, 18 August 1977

In [7]:
from datetime import datetime  # Импортируем класс datetime из модуля datetime

# Строки с датами в разных форматах от разных газет
moscow_times = 'Wednesday, October 2, 2002'
guardian = 'Friday, 11.10.13'
daily_news = 'Thursday, 18 August 1977'

In [9]:
# Преобразуем строку в объект datetime с указанием точного формата:
# %A — полное название дня недели, %B — полное название месяца,
# %d — день, %Y — год с 4 цифрами
dt_moscow_times = datetime.strptime(moscow_times, '%A, %B %d, %Y')

In [11]:
# %A — день недели, %d — день (двузначный), %m — месяц (двузначный), %y — год (2 цифры)
dt_guardian = datetime.strptime(guardian, '%A, %d.%m.%y')

# %A — день недели, %d — день, %B — месяц словами, %Y — год (4 цифры)
dt_daily_news = datetime.strptime(daily_news, '%A, %d %B %Y')

In [13]:
# Печатаем объекты datetime. Они будут в формате: YYYY-MM-DD 00:00:00
print(dt_moscow_times)
print(dt_guardian)
print(dt_daily_news)

2002-10-02 00:00:00
2013-10-11 00:00:00
1977-08-18 00:00:00

### Задание 2 
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате yyyy-mm-dd. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [27]:
from datetime import datetime, timedelta  # Импортируем необходимые классы

def date_range(start_date, end_date):
    try:
        # Пытаемся преобразовать введённые строки в объекты datetime
        # Формат — год-месяц-день (например, 2022-01-01)
        start = datetime.strptime(start_date, '%Y-%m-%d')
        end = datetime.strptime(end_date, '%Y-%m-%d')
    except ValueError:
        # Если возникла ошибка (например, неверный формат или несуществующая дата), возвращаем пустой список
        return []

    # Проверка: если начальная дата больше конечной — возвращаем пустой список
    if start > end:
        return []

    result = []              # Сюда будем добавлять строки с датами
    current = start          # Начинаем с начальной даты
    while current <= end:    # Пока не дошли до конечной даты
        # Преобразуем текущую дату в строку и добавляем в список
        result.append(current.strftime('%Y-%m-%d'))
        current += timedelta(days=1)  # Увеличиваем дату на 1 день

    return result  # Возвращаем итоговый список дат

# Примеры вызова функции:
print(date_range('2022-01-01', '2022-01-03'))  # ['2022-01-01', '2022-01-02', '2022-01-03']
print(date_range('2022-01-03', '2022-01-01'))  # [] — начало позже конца
print(date_range('2022-02-30', '2022-02-31'))  # [] — несуществующие даты

['2022-01-01', '2022-01-02', '2022-01-03']
[]
[]